header{
    display: flex;
    align-items: center;
    border: 1px solid black;
    justify-content: space-around;
}

nav a{
    margin-right: 2rem;
    color: #191919;
    text-decoration: none;
    width: 660px;
    height: 24px;
    left: 461px;
    top: 47px;

}

header input{
    background-color: #F54748;
    width: 162px;
    height: 45px;
    border-radius: 50px;
    border: none;
    color: white;
}

.pag1{
    display: flex;
    align-items: center;

}

#baixar { 
    background-color: #F54748;
    width: 162px;
    height: 45px;
    border-radius: 50px;
    border: none;
    color: white;
}

#pesquisa{
    box-sizing: border-box;
    border: 0.5px solid #191919;
    border-radius: 50px;
    width: 471px;
    height: 54px;
    left: 70px;
    top: 568px;
}


